* {
    color: #4d8581;
}


body {
    width: 100%;
    height: 100%;
}



#granim-canvas {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
}

.content-wrapper {
    position: relative;
}


#routing-image {
    width: 100%;
    min-width: 500px;
    max-width: 1125px;
    height: 100%;
    min-height: 500px;
    max-height: 700px;
    border: 10px solid #4d8581;
}

/*.route-img {
    width: 100%;
    height: 100%;
    border: 10px solid #4d8581;
} */

/* header{
    background-color: #4d8581;
    border: 5px solid #b0988e;
    border-radius: 0%;
    margin: 0;
    padding: 0;
} */

#travlr-logo {
    width: 250px;
    height: 250px;
    background-color: #4d8581;
    border: 5px solid #b0988e;
}

/* #travlr-text{
    background-color: #4d8581;
    color: #fce4ec;
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    /* font-size: 100px;
} */

.card-panel {
    background-color: #eee7df;
}

#location-routing {
    border: 10px solid #4d8581;
    background: #b0988e;
}

#submissions {
    margin-left: 50px;
}

#get-route {
    margin-left: 40px;
    width: 100px;
    height: 30px;
}

#gas-calculation {
    border: 10px solid #4d8581;
    background-color: #b0988e;
}

#gas-calculation label {
    color: black;
}


#budget-information {
    margin-top: 20px;
    border: 10px solid #4d8581;
    background-color: #b0988e;
}

h2 {
    font-size: large;
}

#budget-calculation-container {
    border: 3px solid black
}

footer {
    background-color: #4d8581;
}
