body{
    width: 100%;
    height: 100%;
}

    #granim-wrapper {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -3;
    }
    .content-wrapper{
        position: relative;
    }




/* div .col {
    border: 1px solid black;
    border-radius: 5%;
    padding: 20px;
} */

/* div .top{
background-color: #4d8581;
border: none;
} */

#routing-image {
    margin-left: 500px;
    width: 100px;
    height: 100px;
}

/* header{
    background-color: #4d8581;
    border: 5px solid #b0988e;
    border-radius: 0%;
    margin: 0;
    padding: 0;
} */

#travlr-logo{
    width: 250px;
    height: 250px;
    background-color: #4d8581;
    border: 5px solid #b0988e;
}

/* #travlr-text{
    background-color: #4d8581;
    color: #fce4ec;
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    /* font-size: 100px; 
} */

#location-routing {
    border: 10px solid #4d8581;
    background: #b0988e;
}

#gas-calculation{
    border: 10px solid #4d8581;
    background-color: #b0988e;
}

#gas-calculation label{
    color: black;
}


#budget-information{
    border: 5px solid #4d8581;
    background-color: #b0988e;
}

h2{
    font-size: large;
}

#budget-calculation-container{
border: 3px solid black
}

footer{
    background-color: #4d8581;
}
